:root {
  --main-purple: #6400a0;
  --turquoise: #1bbc9b;
  --yellow: #ffce54;
  --yellow-dark: #f6bb42;
  --grass: #a0d468;
  --grass-dark: #8cc152;
  --aqua: #4fc1e9;
  --aqua-dark: #3bafda;
  --grapefruit: #da4453;
  --flexchildren-alignment: flex-start;
  --text-alignment: left;
  --button-border-radius: 2rem;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
* {
  box-sizing: border-box;
}
.debugging {
  outline: 3px solid red;
}
body {
  background-color: #121212;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

h5,
h4 {
  color: grey;
}
p {
  margin: 1.3rem 0rem;
  color: #bbbbbb;
}
.defaultButton {
  width: 100%;
  height: 3rem;
  font: inherit;
  cursor: pointer;
  outline: none;
  background: none;
  color: white;
  border: 3.5px solid white;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  border-radius: var(--button-border-radius);
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.35s ease;
  border: none;
}
.defaultButton:active {
  font-weight: 800;
}
