.container h4 {
  color: hsl(0, 0%, 50%);
  margin-top: 3rem;
}

.container button.chooseToolButton {
  border: none;
  background: transparent;
  width: auto;
  color: var(--turquoise);
  position: relative;
  transition: none;
  filter: brightness(100%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.container button:active {
  filter: brightness(65%);
}

.container button:active::after {
}
